{% load zinnia_tags i18n %}
{% load i18n %}
{% load url from future %}
{% get_tags as entry_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}{% endblock %} | Djangoと日本の仲間たち</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <meta name="description" content="{% block meta-description %}djangoproject.jp's news weblog.{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, {{ entry_tags|join:", "}}{% endblock %}" />
    <meta name="author" content="Fantomas42" />
    {% block meta %}{% endblock %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="home" href="http://djangoproject.jp/" />
	 {% block style %}
	 {% endblock %}
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
  </head>
  <body class="{% block base-body-class %}{% endblock %}">
	 {% block body %}
	 {% endblock %}
  </body>
</html>
