{% extends "base_bootstrap.html"%}

{% block title %}Django を体験しよう{% endblock %}
{% block style_bootstrap %}
<style type="text/css">
#logo {
    padding-top: 50px;
}
</style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="span4 hidden-phone" id="logo">
    <img src="{{ MEDIA_URL }}/img/django-logo-negative.png" width="360" />
  </div>
  <div class="span8">
    <div class="hero-unit">
      <h2>Django を体験しよう</h2>
      <p>Django は、締め切りに追われる完璧主義者のためのWebフレームワークです。</p>
      <p><a href="https://www.djangoproject.com/download/" class="btn btn-primary btn-large">最新版: 1.5.1</a> <a href="/doc/" class="btn btn-large">ドキュメント</a></p>
      Djangoは<a href="https://github.com/django/django/blob/master/LICENSE">BSDライセンス</a>のOSSです。
    </div>
  </div>
</div>

<p style="height: 30px"></p>

<div class="row">
  <div class="span6">
    <div class="well">
      <h2>Django とは</h2>
       <p>
Django は Python で書かれたオープンソースのWebフレームワーク。見通しのよい MVC 分離、洗練された O/R マッピング API、そして汎用性の高い強力なテンプレートエンジンを備え、高い柔軟性とパフォーマンスを同時に要求されるWebアプリケーション開発をサポートします。
オブジェクト管理インタフェースやユーザ認証、セッション、国際化といった Webフレームワークとしての基本はもちろん、汎用のビューロジックや配信フィード (RSS/Atom) の生成など、Webアプリケーション開発に共通するメカニズムを提供し、DRY (Don't Repeat Yourself) の法則に沿った開発を、より簡単に、より迅速に実現します。
さあ、いますぐ Django を体験しましょう!!
        </p>
      </div>
    </div>
  <div class="span6">
    <div class="well">
      <h2>djangoproject.jp とは</h2>
      <p>
djangoproject.jp は日本の Django ユーザ有志でつくられたユーザコミュニティで、2006年2月に結成されました。
djangoproject.jp ウェブサイトやメーリングリストを通じて Django に関する情報交換を行い、国内での Django (と、もちろんインデントも!)の普及に努めています。
</p>
      <p>Django に関する日本語メーリングリストは<a href="http://groups.google.com/group/django-ja/">こちら</a>。<br />Django ドキュメントの翻訳は <a href="https://github.com/django-docs-ja/django-docs-ja/wiki">こちら</a>で行われています。</p>
    </div>
  </div>
</div>
{% endblock %}
