{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles%}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">
{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}
<div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
{% block main %}


<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static "img/slides/django-logo.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Meet Django</h3>
									  <p>よりよいWebを簡単に、高速に作る</p>
									  <a href="https://djangoproject.com/download/" class="btn btn-theme">Download</a>
                </div>
              </li>
							<!--
              <li>
                <img src="{% static "img/slides/tdm.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Tokyo Django Meetup</h3>
					<p>Djangoのユーザーに会いに行く</p>
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              -->
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>	

{% endblock %}
</div>
{% endblock %}
{% block right_wrapper %}
{% endblock %}
</section>
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2><span>Django</span>をはじめよう</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>高速な開発</h4>
								<div class="icon">
								<i class="fa fa-bolt fa-3x"></i>
								</div>
								<p class="">
								 コンセプトから最速でアプリケーションを完成できるよう設計されています
								</p>
									
							</div>
							<div class="box-bottom">
								<a href="https://www.djangoproject.com/start/">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>フルスタック</h4>
								<div class="icon">
								<i class="fa fa-suitcase fa-3x"></i>
								</div>
								<p>
								 アプリケーション開発に必要な要素がすべて含まれた、フルスタックなフレームワークです
								</p>
									
							</div>
							<div class="box-bottom">
								<a href="https://www.djangoproject.com/start/">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>セキュア</h4>
								<div class="icon">
								<i class="fa fa-lock fa-3x"></i>
								</div>
								<p>
									SQLインジェクション、XSS、CSRFなどを回避するよう作られています
								</p>
									
							</div>
							<div class="box-bottom">
								<a href="https://www.djangoproject.com/start/">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>豊富な実績</h4>
								<div class="icon">
								<i class="fa fa-globe fa-3x"></i>
								</div>
								<p>
								 著名なWebサービス、さまざまなオープンソースプロジェクト、政府等で使われています
								</p>
							</div>
							<div class="box-bottom">
								<a href="/whouses/">Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
	</div>
	</section>

{% endblock %}
