{# Note: このファイルには定数や macro のみを書く。 -#}

{#
  各ページのマスター的な辞書。
  dict[html_id, (url, menu_title)]

  ※documentation は外部サイトであるためキーの値が他と違う
  ※menu_title はおおむね page.cta_text と同じ
  (ただし documentation は外部ページであるため cta_text の概念が存在しない。
  なので、 cta_text とは別の概念として menu_title を用意した)
-#}
{% set page_master = {
  'home': ('/', 'Home'),

  'about': ('/about/', 'About'),
  'community': ('/community/', 'Community'),
  'events': ('/events/', 'Events'),
  'howtojoin-transifex': ('/howtojoin-transifex/', 'Transifexへのユーザー登録とDjangoドキュメント翻訳プロジェクトへの参加方法'),
  'howtotranslate': ('/howtotranslate/', 'TransifexでのDjangoドキュメント翻訳の進め方'),
  'translate': ('/translate/', '翻訳への参加方法'),
  'translate_old': ('/translate_old/', '旧ドキュメント翻訳方法'),
  'whouses': ('/whouses/', '利用実績'),

  '-weblog-': ('/weblog/', 'Blog'),
  'https:--docs.djangoproject.com-ja-': ('https://docs.djangoproject.com/ja/', 'documentation'),
} -%}

{#
  ページ階層を表す辞書。
  パンくずやグローバルナビゲーションに利用する。
  辞書の値の list は、階層を「上からページをたどって当該ページに到達するまでの道のり」、
  つまり path として表したもの (なお home は階層の中に含めない)。
  dict[html_id, list[html_id]]
-#}
{% set page_hierarchy_in_menus = {
  'home': [],
  'about': ['about'],
  'whouses': ['about', 'whouses'],
  'translate': ['https:--docs.djangoproject.com-ja-', 'translate'],
  'howtojoin-transifex': ['https:--docs.djangoproject.com-ja-', 'translate', 'howtojoin-transifex'],
  'howtotranslate': ['https:--docs.djangoproject.com-ja-', 'translate', 'howtotranslate'],
  'translate_old': ['https:--docs.djangoproject.com-ja-', 'translate', 'translate_old'],
  'community': ['community'],
  'events': ['community', 'events'],
  '-weblog-': ['-weblog-'],
} -%}
