<footer>
<div class="container">


<div class="nav-footer"><ul class="list-unstyled"><li 
            id="footer-menu-about"><a href="/about/">About</a></li><li 
            id="footer-menu-whouses"><a href="/whouses/">利用実績</a></li></ul><ul class="list-unstyled"><li 
            id="footer-menu-https:--docs.djangoproject.com-ja-"><a href="https://docs.djangoproject.com/ja/">documentation</a></li><li 
            id="footer-menu-https:--docs.djangoproject.com-ja-2.2-"><a href="https://docs.djangoproject.com/ja/2.2/">2.2 ドキュメント</a></li><li 
            id="footer-menu-translate"><a href="/translate/">翻訳への参加方法</a></li></ul><ul class="list-unstyled"><li 
            id="footer-menu-community"><a href="/community/">Community</a></li><li 
            id="footer-menu-events"><a href="/events/">Events</a></li></ul><ul class="list-unstyled"><li 
            id="footer-menu--weblog-"><a href="/weblog/">Blog</a></li></ul></div>

<div id="sub-footer">
<div class="row">
<div class="col-lg-6">
					<div class="copyright">
						<p>
						</p>
	          <p>
             Django is a <a href="https://www.djangoproject.com/trademarks/">registered trademark</a> of the Django Software Foundation.
	          </p>
					</div>

				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a title="" data-placement="top" href="https://twitter.com/django_ja" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a title="" data-placement="top" href="https://groups.google.com/forum/#!forum/django-ja" data-original-title="Google Group"><i class="fa fa-users"></i></a></li>
						<li><a title="" data-placement="top" href="https://django.connpass.com/" data-original-title="Connpass"><i class="fa fa-compass"></i></a></li>
						<li><a title="" data-placement="top" href="https://github.com/django-ja/" data-original-title="GitHub"><i class="fa fa-github"></i></a></li>
					</ul>
				</div>
		

</div>
</div>
</div>
</footer>
