<footer>
  <div class="container">

    {% include 'menus_footer.html' %}

    <div id="sub-footer">
      <div class="row">
        <div class="col-lg-6">
          <div class="copyright">
            <p>
            </p>
            <p>
              Django is a <a href="https://www.djangoproject.com/trademarks/" target="_blank" rel="noopener">registered trademark</a> of the Django Software Foundation.
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <ul class="social-network">
            <li><a title="" data-placement="top" href="https://twitter.com/django_ja" target="_blank" rel="noopener" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a title="" data-placement="top" href="https://groups.google.com/forum/#!forum/django-ja" target="_blank" rel="noopener" data-original-title="Google Group"><i class="fa fa-users"></i></a></li>
            <li><a title="" data-placement="top" href="https://django.connpass.com/" target="_blank" rel="noopener" data-original-title="Connpass"><i class="fa fa-compass"></i></a></li>
            <li><a title="" data-placement="top" href="https://github.com/django-ja/" target="_blank" rel="noopener" data-original-title="GitHub"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
