{% from 'data.html' import page_master, page_hierarchy_in_menus -%}

{#
  フッターのメニュー項目。 children がメニュー2階層目。
-#}
{% set footer_items = [
  {'html_id': 'about', 'children': ['whouses']},
  {'html_id': 'https:--docs.djangoproject.com-ja-', 'children': ['translate']},
  {'html_id': 'community', 'children': ['events']},
  {'html_id': '-weblog-', 'children': []},
] -%}


<div class="nav-footer">
  {% set menu_item_list_for_page = page_hierarchy_in_menus[page.html_id] -%}
  {% for layer_1 in footer_items -%}
  {% set layer_1_master = page_master[layer_1.html_id] -%}
  <ul class="list-unstyled">
    <li
      class="{{ 'active' if layer_1.html_id in menu_item_list_for_page else '' }}"
      id="footer-menu-{{ layer_1.html_id }}"
    >
      <a href="{{ layer_1_master.url }}">{{ layer_1_master.menu_title }}</a>
    </li>
    {% for layer_2_html_id in layer_1.children -%}
    {% set layer_2_master = page_master[layer_2_html_id] -%}
    <li
      class="{{ 'active' if layer_2_html_id in menu_item_list_for_page else '' }}"
      id="footer-menu-{{ layer_2_html_id }}"
    >
      <a href="{{ layer_2_master.url }}">{{ layer_2_master.menu_title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
